<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <style media="screen">
    input[name]{
      margin-top:-10px;
    }
  </style>
  <body>
    <h3 class="text-center display-4">please enter student details</h3>
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <form method="post">
            {% csrf_token %}
            <label>First Name:</label>
            <input type="text" name="fname" class="form-control">
            <label>Last Name:</label>
            <input type="text" name="lname" class="form-control">
            <label>Email ID:</label>
            <input type="email" name="email" class="form-control">
            <label>Mobile:</label>
            <input type="number" name="mobile" class="form-control">
            <label>Course:</label>
            <input type="text" name="course" class="form-control">
            <label>Fee:</label>
            <input type="number" name="fee" class="form-control">
            <label>Location:</label>
            <input type="text" name="location" class="form-control">
            <center>
              <input type="submit" value="Add" class="btn btn-outline-success btn-lg">
              <input type="reset" value="clear" class="btn btn-outline-danger btn-lg">
            </center>
          </form>
            <div class="text-center mt-1">
              <a href="{% url 'mainpage' %}" class="btn btn-outline-primary">Goto Mainpage</a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
